<!DOCTYPE html>
<html lang="en">
<head>
<title>BigCart Contact Page HTML</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/slick.css" rel="stylesheet">
<link href="css/slick-theme.css" rel="stylesheet">
<link href="css/jquery-ui.css" rel="stylesheet">
<link href="css/global.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<script src="js/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/bigcart.js"></script>
<script src="js/viewportchecker.js"></script>
</head>
<body id="index" class="index page">
<div id="page">
<div class="side-menu">
<div class="sm-logo">
<p><a href="index.html"><img src="images/logo-sm.png" alt=""/></a><a class="cancel-btn pull-right navicon" href="core-contact.html#"><i class="fa fa-times" aria-hidden="true"></i></a></p>
</div>
<div class="sm-banner pbt">
<img src="images/sm-banner.jpg" class="img-responsive" alt=""/>
</div>
<nav class="nav nav-side-menu pbt">
<ul>
<li><a href="index.html">Home</a></li>
<li><a href="core-contact.html#">Shop</a></li>
<li><a href="core-contact.html#">Page</a></li>
<li><a href="core-contact.html#">Features</a></li>
<li><a href="blog-classic.html">Blog</a></li>
<li><a href="core-contact.html">Contact</a></li>
</ul>
</nav>
<div class="form-news-letter">
<p>Sign up for bigcart</p>
<form class="form" action="core-contact.html#">
<div class="form-inner">
<input type="text" name="subs" placeholder="Email Address">
<button class="submit" type="submit"><span>Go</span></button>
</div>
</form>
</div>
</div>
<div class="content">
<header id="header" class="header-default">
<div class="top-nav-wrapper container-fluid">
<div class="row">
<div class="header-left col-lg-3 col-md-3 col-sm-6 col-xs-6">
<a href="core-contact.html#" title="Bigcart">
<img class="img-responsive" src="images/logo.png" alt="Bigcart">
</a>
</div>
<nav class="navbar main-nav col-lg-6 col-md-7 hidden-sm hidden-xs">
<ul class="nav header-nav">
<li class="dropdownn">
<a href="core-contact.html#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
<ul class="dropdown-menu animated fadeIn">
<li><a href="index.html">Home Default</a></li>
<li><a href="core-eshop.html">Home Creative</a></li>
<li><a href="home-simple.html">Home Simple Ecommerce</a></li>
<li><a href="home-parallax.html">Home Parallax</a></li>
<li><a href="home-boxed.html">Home Boxed</a></li>
<li><a href="home-category.html">Home Categories</a></li>
</ul>
</li>
<li class="dropdownn mega-dropdown">
<a href="core-contact.html#" class="dropdown-toggle" data-toggle="dropdown">Shop</a>
<ul class="dropdown-menu mega-dropdown-menu ul-level-2 animated fadeIn">
<li class="col-sm-3">
<ul class="ul-level-3">
<li class="dropdown-header">Shop Types</li>
<li><a href="shop-sidebar-left.html">Left Sidebar</a></li>
<li><a href="shop-sidebar-right.html">Right Sidebar</a></li>
<li><a href="core-pg-categorylist.html">Fullwidth Shop</a></li>
<li><a href="core-contact.html#">Product Flow</a></li>
</ul>
</li>
<li class="col-sm-3">
<ul class="ul-level-3">
<li class="dropdown-header">Single Products</li>
<li><a href="core-pg-productdetail.html">Simple Product</a></li>
<li><a href="variable-product.html">Variable Product</a></li>
<li><a href="grouped-product.html">Grouped Product</a></li>
<li><a href="external-product.html">External Product</a></li>
<li class="new-item"><a href="downloadable-product.html">Downloadable Product</a></li>
<li><a href="onsale-product.html">Onsale Product</a></li>
<li><a href="outofstock-product.html">Out Of Stock Product</a></li>
</ul>
</li>
<li class="col-sm-3">
<ul class="ul-level-3">
<li class="dropdown-header">Shop Pages</li>
<li><a href="cart-page.html">Cart Page</a></li>
<li><a href="checkout.html">Checkout Page</a></li>
<li class="new-item"><a href="whishlist.html">Wishlist</a></li>
<li class="new-item"><a href="track-order.html">Track Your Order</a></li>
<li><a href="my-account.html">Login</a></li>
<li><a href="my-account.html">My Account</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="core-contact.html#">Pages</a></li>
<li><a href="core-contact.html#">Features</a></li>
<li><a href="blog-classic.html">Blog</a></li>
<li><a href="core-contact.html">Contact</a></li>
</ul>

</nav>
<div class="header-right col-lg-3 col-md-2 col-sm-6 col-xs-6">
<ul class="pull-right">
<li class="dropdown header-search">
<a href="core-contact.html#" class="header-icon search-icon" data-toggle="dropdown">Search</a>
<div class="dropdown-search animated fadeIn dropdown-menu">
<form class="form">
<input class="sb-search-input" placeholder="Enter your keyword..." type="text" value="" name="search" id="search"/>
<button class="btn sb-search-submit" type="submit"><span>Search</span></button>
</form>
</div>

</li>
<li class="dropdown header-login">
<a href="core-contact.html#" class="header-icon user-icon" data-toggle="dropdown">Account</a>
<div class="dropdown-menu header-account animated fadeIn">
<h5>LOGIN OR REGISTER</h5>
<a href="my-account.html" class="btn btn-small btn-login">Login</a>
<p class="">OR</p>
<a href="my-account.html" class="btn btn-small btn-register">Create account</a>
</div>

</li>
<li class="dropdown mini-cart">
<a href="core-contact.html#" class="header-icon cart-icon" data-toggle="dropdown">Cart</a><span class="sub">2</span>
<div class="dropdown-menu mini-cart-wrapper animated fadeIn">
<div class="mc-product">
<a href="core-contact.html#"><img class="img-responsive" src="images/mini-cart-product-thumbnail-1.png" alt=""/></a>
<div class="mc-product-info">
<a href="core-contact.html#" class="title-product">Bluberry Woolen Tshirt</a>
<span class="mc-quantity">Quantity: 1</span>
<p class="price">£99.00</p>
</div>
</div>
<hr>
<div class="mc-product">
<a href="core-contact.html#"><img class="img-responsive" src="images/mini-cart-product-thumbnail-2.png" alt=""/></a>
<div class="mc-product-info">
<a href="core-contact.html#" class="title-product">Bluberry Woolen Tshirt</a>
<span class="mc-quantity">Quantity: 1</span>
<p class="price">£99.00</p>
</div>
</div>
<hr>
<div class="mc-subtotal">
<h4>Order Total<span>£219.00</span></h4>
</div>
<a class="btn btn-large btn-fullwidth">View Cart & Checkout</a>
</div>

</li>
<li>
<a href="core-contact.html#" class="navicon">
<span class="bar"></span>
<span class="bar"></span>
<span class="bar"></span>
</a>
</li>
</ul>
</div>
</div>
</div>

</header>
<div class="site-content">
<div class="title_outer title-contact-page margin-bottom-65">
<div class="container">
<div class="title_holder white text-center">
<h1><span>Contact</span></h1>
</div>
</div>

</div>
<div class="contact margin-bottom-65">
<div class="container">
<div class="row">
<div class="col-md-6 col-xs-12">
<div class="block-title">
<h3>Contact info</h3>
</div>
<div class="contact-info">
<p class="margin-bottom-25">Choose one of the alternative methods of communication. We’re available from Monday to Friday, 07:30-19:00 to take your call.</p>
<p><strong>Address:</strong> Abbey Road #73, 1081 Amsterdam, Vauxhall</p>
<p><strong>Phone:</strong> 703.172.3412</p>
<p><strong>Email:</strong> <a class="__cf_email__" href="http://demo.bootpify.com/cdn-cgi/l/email-protection" data-cfemail="cca5a2aaa38ca8a9bfa5aba2aaada0a0bfe2afa3a1">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></p>
</div>
<div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.458939995775!2d-0.12335379484272316!3d51.48644505712069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604f37390a219%3A0x261185c6bcdba9c2!2zVmF1eGhhbGwsIEx1w6JuIMSQw7RuLCBWxrDGoW5nIFF14buRYyBBbmg!5e0!3m2!1svi!2s!4v1485164023450" style="border:0" allowfullscreen></iframe>
</div>
</div>
<div class="col-md-6 col-xs-12">
<div class="block-title margin-bottom-35">
<h3>Drop Us A Line</h3>
</div>
<div class="contact-form">
<form action="core-contact.html#">
<div class="form-group">
<label>Name <span>(required)</span></label>
<input type="text" class="form-control" id="name">
</div>
<div class="form-group">
<label>Email <span>(required)</span></label>
<input type="email" class="form-control" id="email">
</div>
<div class="form-group">
<label>Subject</label>
<input type="text" class="form-control" id="subject">
</div>
<div class="form-group">
<label>Your Message</label>
<textarea class="form-control" rows="5"></textarea>
</div>
<div class="form-group">
<button type="submit" class="btn btn-large btn-color">Send Message</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>

</div>
<footer id="footer" class="footer-wrapper">
<div class="footer-widget-area">
<div class="container">
<div class="row">
<div class="widget-wrap col-lg-3 col-sm-6 col-md-3">
<div id="text-1" class="widget widget-text about_widget">
<h4 class="widget-title"><span>Bigcart</span></h4>
<div class="widget-content">
<p>Many say exploration is part of our dest but it’s actually our duty to future and their quest to ensure the survival of the human species. We have any infinite amount to learn.</p>
</div>
</div>
<div class="widget social-widget">
<ul class="social-wrap">
<li><a href="core-contact.html#"><i class="fa fa-facebook"></i></a></li>
<li><a href="core-contact.html#"><i class="fa fa-twitter"></i></a></li>
<li><a href="core-contact.html#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="core-contact.html#"><i class="fa fa-linkedin"></i></a></li>
<li><a href="core-contact.html#"><i class="fa fa-instagram"></i></a></li>
</ul>
</div>

</div>
<div class="widget-wrap col-lg-3 col-sm-6 col-md-3">
<div class="widget widget_nav_menu">
<h4 class="widget-title"><span>Quick links</span></h4>
<div class="menu-footer useful-links-container">
<ul class="menu menu-footer-useful-links">
<li id="menu-item-101"><a href="about.html">About company</a></li>
<li id="menu-item-102"><a href="core-contact.html">Contact</a></li>
<li id="menu-item-103"><a href="core-contact.html#">Categories</a></li>
<li id="menu-item-104"><a href="blog-classic.html">Our blog</a></li>
<li id="menu-item-105"><a href="core-contact.html#">Trendy items</a></li>
</ul>
</div>
</div>

</div>
<div class="widget-wrap col-lg-3 col-sm-6 col-md-3">
<div class="widget widget_nav_menu">
<h4 class="widget-title"><span>Shopping</span></h4>
<div class="menu-footer useful-links-container">
<ul class="menu menu-footer-useful-links">
<li id="menu-item-111" class="menu-item menu-item-type-custom menu-item-111"><a href="core-contact.html#">Your cart</a></li>
<li id="menu-item-112" class="menu-item menu-item-type-custom menu-item-112"><a href="core-contact.html#">Whislist items</a></li>
<li id="menu-item-113" class="menu-item menu-item-type-custom menu-item-113"><a href="core-contact.html#">Your checkout</a></li>
<li id="menu-item-114" class="menu-item menu-item-type-custom menu-item-114"><a href="core-contact.html#">Collections</a></li>
<li id="menu-item-115" class="menu-item menu-item-type-custom menu-item-115"><a href="core-contact.html#">Shopping details</a></li>
</ul>
</div>
</div>

</div>
<div class="widget-wrap col-lg-3 col-sm-6 col-md-3">
<div class="widget widget_news_letter">
<h4 class="widget-title"><span>Quick links</span></h4>
<div class="form-news-letter">
<p>Sign up for our mailing list to get latest updates and offers.</p>
<form class="form" action="core-contact.html#">
<div class="form-inner">
<input type="text" name="subs" placeholder="Email Address">
<button class="submit" type="submit"><span>Go</span></button>
</div>
</form>
</div>
</div>

</div>
</div>
</div>

</div>
<div class="site-info">
<div class="container">
<div class="row">
<div class="copyright pull-left col-lg-6 col-md-6 col-sm-6 col-xs-12">
<p>© Copyright - Bigcart Template by <a href="https://themeforest.net/user/bootpify" target="_blank">Bootpify</a></p>
</div>
<div class="payment pull-right col-lg-6 col-md-6 col-sm-6 col-xs-12">
<img class="" src="images/payment_cards.png" alt=""/>
</div>
</div>
</div>

</div>
</footer>
<a href="core-contact.html#" id="back-to-top" title="Back to top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
</div>
</div>
</body>
</html>
