<footer id="footer" class="footer-wrapper">
    <div class="footer-widget-area">
        <div class="container">
            <div class="row">
                <div class="widget-wrap col-lg-3 col-sm-3 col-md-3">
                    <div id="text-1" class="widget widget-text about_widget">
                        <h4 class="widget-title"><span>Bigcart</span></h4>
                        <div class="widget-content">
                            <p>底部固定模板</p>
                        </div>
                    </div>
                    <div class="widget social-widget">
                        <ul class="social-wrap">
                            <li><a href="core-eshop.html#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="core-eshop.html#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="core-eshop.html#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="core-eshop.html#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="core-eshop.html#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-wrap col-lg-3 col-sm-3 col-md-3">
                    <div class="widget widget_nav_menu">
                        <h4 class="widget-title"><span>Quick links</span></h4>
                        <div class="menu-footer useful-links-container">
                            <ul class="menu menu-footer-useful-links">
                                <li id="menu-item-101"><a href="about.html">About company</a></li>
                                <li id="menu-item-102"><a href="core-contact.html">Contact</a></li>
                                <li id="menu-item-103"><a href="core-eshop.html#">Categories</a></li>
                                <li id="menu-item-104"><a href="blog-classic.html">Our blog</a></li>
                                <li id="menu-item-105"><a href="core-eshop.html#">Trendy items</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="widget-wrap col-lg-3 col-sm-3 col-md-3">
                    <div class="widget widget_nav_menu">
                        <h4 class="widget-title"><span>Shopping</span></h4>
                        <div class="menu-footer useful-links-container">
                            <ul class="menu menu-footer-useful-links">
                                <li id="menu-item-111" class="menu-item menu-item-type-custom menu-item-111"><a href="core-eshop.html#">Your cart</a></li>
                                <li id="menu-item-112" class="menu-item menu-item-type-custom menu-item-112"><a href="core-eshop.html#">Whislist items</a></li>
                                <li id="menu-item-113" class="menu-item menu-item-type-custom menu-item-113"><a href="core-eshop.html#">Your checkout</a></li>
                                <li id="menu-item-114" class="menu-item menu-item-type-custom menu-item-114"><a href="core-eshop.html#">Collections</a></li>
                                <li id="menu-item-115" class="menu-item menu-item-type-custom menu-item-115"><a href="core-eshop.html#">Shopping details</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="widget-wrap col-lg-3 col-sm-3 col-md-3">
                    <div class="widget widget_news_letter">
                        <h4 class="widget-title"><span>Quick links</span></h4>
                        <div class="form-news-letter">
                            <p>Sign up for our mailing list to get latest updates and offers.</p>
                            <form class="form" action="core-eshop.html#">
                                <div class="form-inner">
                                    <input type="text" name="subs" placeholder="Email Address">
                                    <button class="submit" type="submit"><span>Go</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-info">
        <div class="container">
            <div class="row">
                <div class="copyright pull-left col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p>© Copyright - Bigcart Template by <a href="" target="_blank">Bootpify</a></p>
                </div>
                <div class="payment pull-right col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <p><img class="" src="{{ url_for('static', filename='images/payment_cards.png') }}" alt="" /></p>
                </div>
            </div>
        </div>
    </div>
</footer>
