<div class="slide-item slide-item-1" style="background: url({{ settings.carousel_img1 }}) no-repeat !important; background-size: cover !important; background-position: center !important;">
    <div class="slide-description container slide-1-des">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2 class="title-slide title-homeslide-default">Amazing Shop Collections</h2>
            <p class="subtitle">Bigcart makes it amazingly simple to create and manage an amazing online store with highlight your sales & Business.</p>
            <a class="btn btn-large btn-color" href="core-eshop.html#">Purchase Now</a>
        </div>
    </div>
</div>
<div class="slide-item slide-item-2" style="background: url({{ settings.carousel_img2 }}) no-repeat !important; background-size: cover !important ; background-position: center !important;">
    <div class="slide-description container slide-2-des">
        <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 text-center"> <img src="static/images/oblect.png" alt="" />
            <h2 class="title-slide title-homeslide-default">Best Handmade shop</h2>
            <p class="subtitle">Bigcart makes it amazingly simple to create and manage an amazing online store with highlight your sales.</p>
            <a class="btn btn-large btn-color" href="core-eshop.html#">Discover Collection</a>
        </div>
    </div>
</div>
<div class="slide-item slide-item-3" style="background: url({{ settings.carousel_img3 }}) no-repeat !important; background-size: cover !important; background-position: center !important;">
    <div class="slide-description container slide-2-des">
        <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 text-center"> <img src="static/images/oblect.png" alt="" />
            <h2 class="title-slide title-homeslide-default">Best Handmade shop</h2>
            <p class="subtitle">Bigcart makes it amazingly simple to create and manage an amazing online store with highlight your sales.</p>
            <a class="btn btn-large btn-color" href="core-eshop.html#">Discover Collection</a>
        </div>
    </div>
</div>
<div class="slide-item slide-item-4" style="background: url({{ settings.carousel_img4 }}) no-repeat !important; background-size: cover !important; background-position: center !important;">
    <div class="slide-description container slide-2-des">
        <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 text-center"> <img src="static/images/oblect.png" alt="" />
            <h2 class="title-slide title-homeslide-default">Best Handmade shop</h2>
            <p class="subtitle">Bigcart makes it amazingly simple to create and manage an amazing online store with highlight your sales.</p>
            <a class="btn btn-large btn-color" href="core-eshop.html#">Discover Collection</a>
        </div>
    </div>
</div>

